<ion-header>
  <ion-toolbar>
    <ion-title>Partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <b>Jogador Atual:</b>&nbsp;{{partida.jogadorAtual}}
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(0)">
          <img src="{{partida.label0 ? './assets/' + partida.label0 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(1)">
          <img src="{{partida.label1 ? './assets/' + partida.label1 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(2)">
          <img src="{{partida.label2 ? './assets/' + partida.label2 + '.png' : '' }}">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(3)">
          <img src="{{partida.label3 ? './assets/' + partida.label3 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(4)">
          <img src="{{partida.label4 ? './assets/' + partida.label4 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(5)">
          <img src="{{partida.label5 ? './assets/' + partida.label5 + '.png' : '' }}">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(6)">
          <img src="{{partida.label6 ? './assets/' + partida.label6 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(7)">
          <img src="{{partida.label7 ? './assets/' + partida.label7 + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(8)">
          <img src="{{partida.label8 ? './assets/' + partida.label8 + '.png' : '' }}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>