<ion-header>
  <ion-toolbar>
    <ion-title>Partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <b>Jogador Atual:</b>&nbsp;{{jogadorAtual}}
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(1)">
          <img src="{{partida.label[1] ? './assets/' + partida.label[1] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(2)">
          <img src="{{partida.label[2] ? './assets/' + partida.label[2] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(3)">
          <img src="{{partida.label[3] ? './assets/' + partida.label[3] + '.png' : '' }}">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(4)">
          <img src="{{partida.label[4] ? './assets/' + partida.label[4] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(5)">
          <img src="{{partida.label[5] ? './assets/' + partida.label[5] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(6)">
          <img src="{{partida.label[6] ? './assets/' + partida.label[6] + '.png' : '' }}">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="altura-coluna" size="4" (click)="jogar(7)">
          <img src="{{partida.label[7] ? './assets/' + partida.label[7] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(8)">
          <img src="{{partida.label[8] ? './assets/' + partida.label[8] + '.png' : '' }}">
        </ion-col>
        <ion-col class="altura-coluna" size="4" (click)="jogar(9)">
          <img src="{{partida.label[9] ? './assets/' + partida.label[9] + '.png' : '' }}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>